/* GLOBAL */

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.7rem;
    background: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

/* HEADER */

header {
    text-align: center;
    background: url(../img/bg_header.jpg) no-repeat;
    padding: 20px;
    color: #fff;    
}


/* INPUT */

.input-container {
    text-align: center;
    background: rgb(181, 53, 53);
    padding: 5px;
    grid-area: filter;
}

.btn {
	box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color:#e4685d;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}

/* ASIDE & SECTION */

.texte {
    background: grey;
    text-align: center;
    grid-area: texte;
}

.pub {
    background: grey;
    text-align: center;
    grid-area: pub;
}

main {
    display: grid;
    grid-template-areas:
    "texte texte texte filter filter filter filter filter"
    "texte texte texte article article article pub pub";
}

#article-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background: grey;
    grid-area: article;
}

article {
    text-align: center;
    width: 30%;
}


/* FOOTER */

footer {
    text-align: center;
    background: rgb(181, 53, 53);
    padding: 50px;
    margin: 60px 0 0 0;
}

/* RESPONSIVE TABLETTE */

@media (max-width: 768px) {
    main {
    display: grid;
    grid-template-areas:
    "filter filter filter filter filter filter filter filter"
    "texte texte texte texte texte texte texte texte"
    "article article article article article article article article"
    "pub pub pub pub pub pub pub pub";
}
    #article-container article:nth-child(2n+0) {
        display: none;
    }
}

/* RESPONSIVE MOBILE */

@media (max-width: 576px) {
    #article-container article:first-of-type {
        display: none;
    }
}