/* GLOBAL */

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: grid;
    font-size: 1.7rem;
    background: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

/* HEADER */

header {
    grid-column: 1;
    text-align: center;
    background: url(../img/bg_header.jpg) no-repeat;
    padding: 20px;
    color: #fff;
    
}


/* INPUT */

.input-container {
    grid-column: 1;
    text-align: center;
    background: rgb(181, 53, 53);
    padding: 5px;
}

/* ASIDE & SECTION */

aside {
    background: grey;
    width: 100%;
    min-width: 100%;
    text-align: center;
}

main {
    display: grid;
}

#article-container {
    grid-column: 2;
    display: flex;
    justify-content: center;
    background: grey;
}

article {
    text-align: center;
}


/* FOOTER */

footer {
    text-align: center;
    background: rgb(181, 53, 53);
    padding: 50px;
    margin: 60px 0 0 0;
}

/* RESPONSIVE TABLETTE */

@media (max-width: 768px) {
    #article-container {
        grid-row: 1;
        grid-column: 1;
    }
    #article-container article:nth-child(2n+0) {
        display: none;
    }
    aside {
        grid-column: 1;
        width: 100%;
    }
}

/* RESPONSIVE MOBILE */

@media (max-width: 576px) {
    #article-container article:first-of-type {
        display: none;
        background: yellow;
    }
}